body {
  background-color: rgb(244, 208, 78);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-family: "Figtree", serif;
  font-size: 16px;
} 

.main {
  max-width: 500px;
}

.border-radius {
  border-radius: 15px;
}

.card {
  background-color: #ffffff;
  justify-content: center;
  border: 2px solid #000000;
  -webkit-box-shadow: 13px 10px 3px 3px rgba(0,0,0,1);
-moz-box-shadow: 13px 10px 3px 3px rgba(0,0,0,1);
box-shadow: 13px 10px 3px 3px rgba(0,0,0,1);
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
}

.img {
  width: 90%;
  height: auto;
  margin: 20px 0px;
}

.card-content {
  margin-left: 32px;
}

.button {
  background-color: rgb(244, 208, 78);
  border: none;
  padding: 15px;
  font-weight: 800;
  border-radius: 10px;
  width: 50%;
  cursor: pointer;
}

.card-content-p {
    width: 80%; 
    word-wrap: break-word;
    line-height: 1.5; 
    white-space: normal;
    color: rgb(107, 107, 107);
}

.profile-content {
    display: flex;
    margin-bottom: 20px;

}

.profile-content-img {
    margin-right: 25px;
    height: 50px;
    border-radius: 50%;
}

.profile-content p {
    font-weight: bold;
}


/* MEDIA QUERY */

@media screen and (max-width: 375px) {
  .card {
    width: 90%;
    max-width: 320px;
    margin: 0 auto;
  }



  .title {
    font-size: 14px;
  }

  
}
